#root{
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    background-color: var(--background-color);
    height: 100vh;
}

.elDiv{
  width: 90%;
  max-width: 1000px;
  aspect-ratio: 4 / 3;
  margin: 2rem auto;
  border-radius: 16px;
  overflow: hidden;
  background-color: #1b2630;
}

@media (max-width: 768px) {
  .elDiv {
    width: 95%;
    max-width: 400px;
  }
}
