@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --background-color: #243241;
    --card-bg: #283847;
    --input-bg: #3D566E;
    --accent: #1d4f88;
    --accent-hover: #245b9b;
    --text-light: #ecf0f1da;
}

body {
  margin: 0;
  background: url('./assets/bg.svg') no-repeat center/cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

span{
  color: var(--text-light);
  font-weight: 500;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
